<div class='row' id='content-wrapper'>
  <div class='row'>
    <div class='col-sm-12'>
      <h1 class='pull-left'>
        <span>Edit Provider</span>
      </h1>
    </div>
  </div>
  <%= render 'form' %>
</div>
