<%= render 'form' %>
<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='text-center'>
        <div> <%=  link_to 'Login', new_user_session_path %></div>
        <div> <%=  link_to 'Business Sign up', business_signup_path %></div>
      </div>
    </div>
  </div>
</div>
